@()
@defining(play.core.PlayVersion.current) { version =>
<h3>Table of Contents</h3>
<ul>
  <li><a href="@routes.HomeController.index#Introduction">Crime Rate</a>
  <li><a href="@routes.HomeController.CrimeTypes">Crime Types</a>
  <li><a href="@routes.HomeController.CrimeDate">Crime Date</a>
  <li><a href="@routes.HomeController.CrimeLocation">Crime Location</a></li>
  <li><a href="@routes.HomeController.IncidentNumber">Incident Number</a></li>
  <li><a href="@routes.HomeController.HotSpot">Hot Spot Image</a></li>
</ul>
}