@()
@defining(play.core.PlayVersion.current) { version =>
<h3>Table of Contents</h3>
<ul>
  <li><a href="@routes.HomeController.index#Introduction">Projects Introduction</a>
  <li><a href="@routes.HomeController.CrimeTypes">Crime Types</a>
  <li><a href="@routes.HomeController.CrimeByMonth">Crime By Month</a>
  <li><a href="@routes.HomeController.CrimeByDay">Crime By Day</a>
  <li><a href="@routes.HomeController.CrimeByHour">Crime By Hour</a></li>
  <li><a href="@routes.HomeController.CrimePrediction">Crime Prediction</a></li>
  <li><a href="@routes.HomeController.CrimeLocation">Crime Location</a></li>
  <li><a href="@routes.HomeController.TextRank">Text Rank</a></li>
</ul>
}