@()
@main("CrimePrediction") {
    @defining(play.core.PlayVersion.current) { version =>
        <section id="content">
            <div class="wrapper doc">
                <article>
                    <p class = "introduction">The number of crimes in each day from 2015 to 2018</p>
                    <p class = "chart"><img src="assets/images/CrimeByDate.png" alt="Request and response"/></p>
                    <p class = "introduction">Use Holt Winter model to predict crime number in the next 365 days</p>
                    <p class = "chart"><img src="assets/images/CrimePrediction.png" alt="Request and response"/></p>
                    <p>alpha:0.059867973836762824</p>
                    <p>beta:0.0</p>
                    <p>gamma:0.1202492576414494</p>
                </article> <aside>
                @commonSidebar()
            </aside>
            </div>
        </section>
    }
}