@()
    @main("CrimeByDay") {
        @defining(play.core.PlayVersion.current) { version =>
            <section id="content">
                <div class="wrapper doc">
                    <article>
                        <p class = "introduction">Friday has much higher crime rate than Sunday</p>
                        <p class = "chart"><img src="assets/images/CrimeByDay.png" alt="Request and response"/></p>
                    </article> <aside>
                    @commonSidebar()
                </aside>
                </div>
            </section>
        }
    }